*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:#ECECEC;
    width: auto;
    height: 3196px;
    font-family: arial;
}
.nav{
    width: 1520px;
    height: 64px;
    background-color:#0080FF ;
}

.logoo{
    width: 207px;
    height: 27px;
    margin-top: 18px;
    margin-left: 211px;
    margin-right: -34px;
    float: left;
    padding-right: 88px;
}

.menuu{
    display: inline-block;
    width: 70px;
    height: 14px;
    margin-right:34px ;
    margin-top: 25px;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: #FFFFFF;
    
    
}

.kotak11{
    width: 930px;
    height: 632px;
    background-color: #FFFFFF;
    margin-left: 240px;
    margin-top:  70px; 
    border-radius: 25px;

}

.judul111{
    position:relative;
    font-weight: bold;
    top: 80px;
    left:370px;
}

.judul222{
    font-size: 78px;
    margin-left: 328px;
    margin-top: 80px;

}

.p{
    text-align: justify;
    text-align: center;
    margin-top: 30px;

}

.kotak3{
    width: 655px;
    height: 100px;
    margin-left: 150px;
}

.kotak444{
    width: 465px;
    height: 40px;
    text-align: center;
    margin-left: 232px;
    margin-top: -20px;
}


.member{
    display: inline-block;
    position: relative;
    margin: 50px;
    margin-top: 10px;
    margin-left: 55px;
}
.a{
    font-weight: bold;
}

.kotak8{
    width: 465px;
    height: 115px;
    margin-left: 10px;
    margin-top: -40px;
}

.kotak5{
    width: 115px;
    height: 115px;
   margin-left: 25px;
   border: 5px solid #C4C4C4;
   border-radius: 20px;
   float: left;
}


.but{
    width: 267px;
    height: 63px;
    background-color: #0080FF;
    border-radius:20px ;
    border: none;
    position: absolute;
    top: 640px;
    left: 580px;
}

.no{
    position: relative;
    top: 40px;
}

.gab{
    font-size: 21px;
    text-decoration: none;
    color:#FFFFFF ;
}

.kotak222{
    position: relative;
    width: 930px;
    height: 491px;
    background-color: #FFFFFF;
    margin-left: 240px;
    margin-top:  70px; 
    border-radius: 25px;

}

.gbbb{
    position: absolute;
    width:550px ;
    height: 491px;
    border-radius:25px ;
    float: left;
    top: -20px;
}

.kanannn{
    width: 380px;
    height: 491px;
    float: right;
}

.hargaa{
    margin-left: 40px;
    padding-top: 90px;
    margin-right: 30px;
    font-weight:200px;
}
.harga1{
    margin-left: 40px;
    padding-top: 0px;
    margin-right: 30px;
}

.harga2{
    margin-left: 40px;
    padding-top: 30px;
    margin-right: 30px;
}

.harga3{
    margin-left: 40px;
    padding-top: 0px;
    margin-right: 30px;
}

.harga4{
    margin-left: 40px;
    padding-top: 40px;
    margin-right: 30px;
}





